<!DOCTYPE html>
<html>
<head>
  <meta name= "viewport" content="width=device-width, initial-scale=1.0">
  <title>ONLINE LEGAL SERVICES PLATFORM</title>
</head>
<body>

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1500">
        <img src="/assets/Buy-a-Property.jpg" class=" w-100px h-100px" alt="property img">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="/assets/child-custody.jpg" class=" w-100px h-100px" alt="child img">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="/assets/civil-law.jpg" class=" w-100px h-100" alt="civil img">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="/assets/divorce-case-investigation.jpg" class="w-100px h-100" alt=" divorce img">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="/assets/images.jpg" class="w-100px h-100" alt=" images img">
      </div>
      <div class="carousel-item" data-bs-interval="1500">
        <img src="/assets/start-a-business.jpg" class="w-100px h-100 " alt="business img">
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


</body>
</html>