<!DOCTYPE html>
<html>
<head>
  <meta name= "viewport" content="width=device-width, initial-scale=1.0">
  <title>ONLINE LEGAL SERVICES PLATFORM</title>
</head>
<body>
  <div class= "hero">
    <img src = "https://static.vecteezy.com/system/resources/previews/010/223/118/original/business-and-lawyers-discussing-contract-papers-with-brass-scale-on-desk-in-office-law-legal-services-advice-justice-and-law-concept-picture-with-film-grain-effect-free-photo.jpg", class = "homepage">
    <div class = "nav">
        <li><%= link_to "SIGN IN", new_user_session_path %></li>
          <%= link_to "add news", new_news_path if user_signed_in? %>                               
        <li><%= button_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
        <li><a href="#">ABOUT WEBSITE</a></li>
    </div>
    <div class = "center">
      <h1>ONLINE LEGAL SERVICES PLATFORM</h1>
    </div>
  </div>
</body>
</html>