<!DOCTYPE html>
<html>
<head>
  <meta name= "viewport" content="width=device-width, initial-scale=1.0">
  <title>ONLINE LEGAL SERVICES PLATFORM</title>

  <!-- ===========FONTAWESOME cdn LINK ========= --->
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <link rel = "stylesheet" href ="style.scss">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<body>
<div class="main-carousel">
  <div class="cell"><img src = "assets/Child-Custody.jpg"></div>
  <div class="cell"><img src = "assets/CivilLaw.jpg"></div>
  <div class="cell"><img src = "assets/business.jpg"></div>
  <div class="cell"><img src = "assets/Property .jpg"></div>
  <div class="cell"><img src = "assets/divorce.jpg"></div>
  
</div>

<script src= "https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script type= "text/javascript">
  $('.main-carousel').flickity({
  cellAlign: 'center',
  WrapAround:true,
  freeScroll:true,
  groupCells:1,

});
</script>

</body>
</html>