/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


*{
    margin: 60;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.homepage{
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: auto;
}


.topnav{
      overflow: hidden;
      background-color: #eae3db;
  }

  .topnav a {
  float: left;
  color: #0d0b0b;
  text-align: center;
  padding: 12px 14px;
  text-decoration:none ;
  font-size: 17px;
  }

  .topnav a:hover {
  background-color: #d6b791;
  color: black;
  }

  .topnav a.active {
  background-color: #d6b791;
  color: black;
  padding: 20px;
  }

  .topnav a.signout{
    float: right;
  }

  .topnav a.signin{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }


.center{
    font-size: 10px;
    border: 8px solid;
    margin: 20px;
    width: 300px;
    padding: 30px;
    text-align: center;
    position: absolute;

}

body {
  overflow-y: scroll;
}
.msg-form {
  width: 80%;
  height: 56px;
  padding: 10px;
}

#single_room {
  height: calc(100vh - 150px);
}

#messages {
  height: calc(100vh - 150px);
  overflow-x: hidden;
  overflow-y: scroll;
}

#room_container {
  height: 100vh;
  margin-right: 0px !important;
}

#side_panel {
  height: 100vh;
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 55px;
}
#chatroom_container {
  height: 100vh;
  margin-right: 0px !important;
  overflow-x: hidden;
  overflow-y: hidden;
}

.msg-content {
  width: 80%;
  margin-right: 5px;
}
.message-box {
  word-wrap: break-word;
  width: fit-content;
  max-width: 40%;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #a6a4aa;
  padding: 10px;
}
