<h1>THREADS</h1>
<h2><%= @forum_thread.subject %></h2>

<h3>Forum Posts: </h2>
<% if @forum_posts.any? %>
  <div>
    <% @forum_posts.each do |post| %>
      =><%= post.body %> - <%= post.user.name %> - <%= post.user.created_at %>
    <% end %>
  </div>
<% else %>
  <p> No Forum Posts found. </p>
<% end %>
